//Create variables like colors, borders, fonts etc. here!
$--ba-color-primary: #FE5000;
$--ba-color-secondary: #041C26;
$--ba-color-lightgrey: #F6F5F5;
$--ba-color-black: #000000;
$--ba-color-white: #FFFFFF;

$--ba-border-radius--full: 9999px;

$--ba-font-primary: 'Montserrat', sans-serif;
$--ba-font-secondary: 'Work Sans', sans-serif;
