//Create variables like colors, borders, fonts etc. here!
$--so-color-primary: #FE5000;
$--so-color-secondary: #041C26;
$--so-color-lightgrey: #F6F5F5;
$--so-color-black: #000000;
$--so-color-white: #FFFFFF;

$--so-border-radius--full: 9999px;

$--so-font-primary: 'Montserrat', sans-serif;
$--so-font-secondary: 'Work Sans', sans-serif;
