<!-- Example structure shown below: -->
<!--<header>-->
<!--  <ba-default-header></ba-default-header>-->
<!--</header>-->
<!--<main>-->
<!--  <ba-default-main></ba-default-main>-->
<!--</main>-->
<!--<footer>-->
<!--  <ba-default-footer></ba-default-footer>-->
<!--</footer>-->
<style>
  .wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 8em;
  }

  img {
    margin: 2em auto;
    width: 100%;
  }

  h1, h2, h3, h4 {
    margin: 1em 0;
    line-height: 1.5em;
  }

  p {
    line-height: 1.5em;
  }

  ul {
    padding-left: 2em;
  }
  li {
    margin: 1em 0;
    list-style-type: square;
  }
</style>

<div class="wrapper">
  <img src="../../../assets/logo.svg" width="100" height="100" alt="">
  <h1>
    Welcome to the Angular quickstart project of BA.
  </h1>

  <h3>
    Run "npm i" to install all the dependencies.
    Make sure you download the Redux devtools exstension for your browser to see the NGRX store included in this project!
  </h3>

  <h4>
    This project includes:
  </h4>
  <ul>
    <li>Latest Angular version</li>
    <li>Latest NGRX version</li>
    <li>NGRX Devtools</li>
    <li>NGRX Effects</li>
    <li>Component structure</li>
    <li>Styling structure</li>
    <li>Example styling such as mixins and variables</li>
  </ul>

  <h4>
    Structure explained
  </h4>
  <p>
    The structure you're seeing may be new but it's my own creation. It's the same for Angular components and styling really quite simple:
  </p>
  <ul>
    <li>Pages are made out of layouts</li>
    <li>Layouts are made out of blocks</li>
    <li>Blocks are made out of components</li>
  </ul>
  <p>
    So for example:
  </p>
  <ul>
    <li>The homepage is made out of layouts: header, footer, main</li>
    <li>The header is made out of blocks: main navigation, secondary navigation</li>
    <li>The main navigation is made out of components: logo, search-bar, account-link etc.</li>
  </ul>

  <h4>Documentation on NGRX can be found <a href="https://ngrx.io/" target="_blank">here</a></h4>

  <p>Please suggest changes by creating a pullrequest on: <a href="https://github.com/royvanderwesten/angular-quickstart-project" target="_blank">https://github.com/royvanderwesten/angular-quickstart-project</a> if you have any 🐱‍💻</p>
</div>
